h1 {
  color: #fbff17;
  font-family: "Niconne", cursive;
  font-size: 100px;
  text-align: center;
}

h3 {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  color: #4aec58;
}

#button {
  color: royalblue;
  border-radius: 30px;
  transition: background-color 5s ease-out 100ms;
  height: 60px;
  width: 120px;
  outline: none;
  font-family: "Berkshire Swash", cursive;
  cursor: pointer;
}

#button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgb(230, 255, 5);
}

#button:hover {
  color: purple;
}

body {
  text-align: center;
  background-color: #ff0055;
  background-image: url(https://media1.giphy.com/media/pVGsAWjzvXcZW4ZBTE/giphy.gif);
  resize: both;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ffff;
  max-width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}
h2 {
  color: #5053f8;
  font-size: 20px;
}
