h1 {
  color: #dcff17;
  font-family: "Niconne", cursive;
  font-size: 100px;
  text-align: center;
}

h3 {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  color: #4aec58;
}

#button {
  color: #7091d7;
}
body {
  text-align: center;
  background-color: #ff0055;
}
